[loggers]
keys=root

[handlers]
keys=debugHandler

[formatters]
keys=customFormatter

[logger_root]
level=DEBUG
handlers=debugHandler

[handler_debugHandler]
class=FileHandler
level=DEBUG
formatter=customFormatter
args=('debug.log',)

[formatter_customFormatter]
format=%(asctime)s %(levelname)s %(message)s
datefmt=%Y-%m-%d %H:%M:%S
